form {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
}

form label {
  font-size: 1rem;
  font-weight: bold;
  display: block;
  text-align: left;
  margin: 1rem 0 0.2rem;
}

form button {
  margin-top: 1rem;
  width: 5rem;
  height: 3rem;
  border: 2px solid burlywood;
  border-radius: 15px;
  background-color: black;
  color: white;
  margin-right: 1rem;
}

form button:active {
  background-color: white;
  color: black;
  cursor: pointer;
}

input,
select {
  width: 100%;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  color: white;
  border: 2px solid burlywood;
  background-color: black;
  border-radius: 10px;
  outline: none;
}

input:focus,
select:focus {
  border-color: #4299e1;
}

body {
  text-align: center;
}
