.nav-bar {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.nav-left {
  margin: 1rem;
}

.nav-right {
  margin: 1rem;
  display: flex;
  align-content: center;
}

.nav-right li {
  display: inline;
  margin-right: 3rem;
}

.nav-right button {
  width: 5rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 15px;
  background-color: black;
  color: white;
  margin-right: 1rem;
}

.nav-right button:active {
  background-color: white;
  color: black;
}

.nav-right button:hover {
  cursor: pointer;
}

.nav-right a {
  text-decoration: none;
  color: white;
}

.cart-counter {
  margin-left: 0.5rem;
  border: 1px solid blue;
  color: white;
  padding: 0.3rem;
  border-radius: 20%;
  background-color: blue;
  font-weight: 500;
}
